.user-container{
    display: flex;
}
.user{
    width: 70%;
    background-color: lightgray;
    padding: 10px;

}
.p-image{
    width: 30%;
}
.selected-user{
    width: 30%;
    background-color: rgb(233, 233, 233) ;
    padding: 10px;
}
